/* .input {
  position: absolute;
  width: 20rem;
  height: 4rem;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
  padding: 1rem;
  background-color:aliceblue;
  transition: background-color 0.3s, border-color 0.3s;
  border: 3px solid lightskyblue;
  color:aliceblue;
}

.input:hover {
  background-color: lightblue;
}

.input:focus {
  background-color:cornflowerblue;
  border: 3px solid blue;
}

::selection {
  background-color: aliceblue;
  color: cornflowerblue;
}
 */
